@import "./stylesheets/colors.css";
@import "./stylesheets/defines.css";
@import "./stylesheets/icons.css";
@import "./stylesheets/media.css";
@import "./stylesheets/navbar.css";
@import "./stylesheets/footer.css";
@import "./stylesheets/suites_and_villas.css";
@import "./stylesheets/about.css";

* {
    font-family: "Noto Serif", serif;
    font-weight: 300;
    /* font-family: system-ui; */
}

html, body {
    height: 100%;
    scrollbar-width: none;
    margin: 0;
    /* background-image: var(--gradient-torquoisewhite); */
}

h1 {
    /* example: Elevate to serenity */
    font-size: 120px;
    color: var(--alice-blue);
}

h2 {
    /* example: Come and let us offer you a glimpse of heaven on the */
    margin: 15px 0;
    font-size: 46px;
    color: var(--darkslate-grey);
}

h3 {
    /* example: Heaven's Edge Boutique Hotel */
    font-size: 17px;
    text-transform: uppercase;
}

h4 {
    /* example: Heaven's Edge Cliffside Villas Eloping or Honeymooning */
    
}

h5 {
    /* example: footer: Contact us */
    font-size: 20px;
    font-weight: bold;
    color: var(--alice-blue);
    margin: 10px 0;
    letter-spacing: 1px;
}

h6 {
    /* example: footer: Reception */
    font-size: 16px;
    color: var(--alice-blue);
    margin: 0;
    padding: 0;
}

i {
    width: 30px;
    height: auto;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

span {
    color: var(--logo-gold);
    font-size: 80px;
}

p {
    margin: 20px 0px; 
}

.details-btn {
    text-decoration: none;
    background-color: var(--logo-gold);
    color: var(--rich-black);
    padding: 10px 25px;
    border: none;
    border-radius: 2.5px;
    margin: 16px 0;
    font-size: 12px;
    cursor: pointer;
    &:hover {
        background-color: var(--hotel-footer);
        color: var(--logo-gold);
    }
}

.box1 {
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: transparent;
    z-index: 1;
    
}
.box1::before {
    background-image: url("./assets/parallax/img1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-position-y: -250px;
    position: fixed;
    width: 100%;
    height: 100vh;
    filter: brightness(0.65);
    z-index: -1;
    content: '';
}



.box2 {
    padding: 100px 0 25px 0;
    width: 100%;
    background: var(--gradient-bluewhite);
    display: inline-block;
    align-content: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    .wrapper_box2 {
        width: 30%;
        text-align: center;
    }    
}

.box3 {
    background-color: var(--alice-blue);
    display: flex;
    
    .wrapper_box3_img {
        margin: 0 50px 0 100px;
        width:70%;
        background-size: cover;
    } 

    .wrapper_box3_text {
        text-align: -webkit-center;
        text-align: -moz-center;
        width: 30%;
        margin: 50px 100px 50px 50px;
        p {
            text-align: justify;
        }
        .wrapper_window_img {
            margin: 25px 0;
            height: 300px;
            width: 60%;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            background-image: url("./assets/gallery/photo2.png");
            background-position: center;
            background-size: cover;
        }
    }
}

.box4 {
    background-image: url(./assets/parallax/img3.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: inherit;
    height: 100vh;
    width: 100vw;    
}

.box5 {
    background-color: var(--alice-blue);
    width: 100%;
    padding: 50px 0px;
    text-align: -webkit-center;
    text-align: -moz-center;
    display: flex;
    flex-wrap: wrap;
    
    .box5_part {
        padding: 50px 0;
    }
    .box5_separator_single {
        width: 40%;
        border-bottom: solid var(--highlight-grey) 2px;
    }
    .box5_separator_double {
        margin: 0 100px;
        border-bottom: solid var(--highlight-grey) 2px;
    }
    #box5_part1 {
        width: 40%;
    }
    #box5_part2,
    #box5_part3 {
        display: flex;
        flex-wrap: wrap;
    }
    .box5_part2_text {
        width: 50%;
        .wrapper_box5_part2_text {
            margin: 0 100px;
        }
    }
    .box5_part2_img {
        width: 50%;
        align-content: center;
        .wrapper_box5_part2_img {
            margin: 0 100px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .box5_part3_img {
        width: 50%;
        align-content: center;
        .wrapper_box5_part3_img {
            margin: 0 100px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .box5_part3_text {
        width: 50%;
        align-content: center;
        .wrapper_box5_part3_text {
            margin: 0 100px;
        }
    }
}

.box6 {
    padding-top: 50px;
    width: 100%;
    background-color: var(--alice-blue);
    .box6_text {
        text-align: center;
    }
    .box6_gallery {
        .wrapper_box6_gallery {
            display: flex;
            flex-wrap: wrap;
            .wrapper_box6_img {
                width: calc((100vw / 5) - 4px);
                margin: 2px;
            }
            img {
                height: 100%;
                width: 100%;
                &:hover {
                    animation-name: darken-gallery;
                    animation-duration: 1s;
                    animation-timing-function: ease-out;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}



@keyframes autoplay1 {
    0% { visibility: visible }
    33.33% { visibility: hidden }
}

@keyframes autoplay2 {
    0% {top: 100%}
    4% {top: 0%}
    33.33% {top: 0%}
    37.33% {top: -100%}
    100% {top: -100%}
}

@keyframes slides-set-1 {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    31% {
      opacity: 1;
      transform: scale(1);
    }
    34% {
      opacity: 0;
      transform: scale(1.05);
    }
    97% {
      opacity: 0;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }