<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/x-icon" href="./assets/img/favicon.ico">
    <title>Privacy Policy</title>
</head>
<body>
    <nav class="nav_bar" id="nav_bar_target">
        <!-- loaded dynamically loadNavBar() -->
    </nav>

    <section class="privacy_box1">
        <p class="jost-googlefonts">Privacy Police is currently <span>not</span> available.</p>
    </section>

    <footer id="footer_target">
        <!-- loaded dynamically loadFooter() -->
    </footer>

    <script src="../main.js"></script>
</body>
</html>