<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Experience</title>
</head>
<body>
    <nav class="nav_bar" id="nav_bar_target">
        <!-- loaded dynamically loadNavBar() -->
    </nav>

    <p>welcome to experience page</p>

    <footer id="footer_target">
        <!-- loaded dynamically loadFooter() -->
    </footer>

    <script src="../main.js"></script>
</body>
</html>