<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
    <title>Experience</title>
</head>
<body>
    <nav class="nav_bar" id="nav_bar_target">
        <!-- loaded dynamically loadNavBar() -->
    </nav>

    <section class="experience_box1"></section>

    <section class="experience_box experience_box2">
        <div class="wrapper_experience_box2_header">
            <h2 class="lora-googlefonts">Experience with us</h2>
        </div>
        <div class="wrapper_experience_content">
            <div class="wrapper_experience_content_img experience_img_start">
                <img src="../assets/gallery/experience/experience_2.jpg" alt="">
                <img src="../assets/gallery/experience/experience_3.jpg" alt="">
            </div>
            <div class="wrapper_experience_content_text">
                <h2 class="lora-googlefonts">Wine and food</h2>
                <span class="dancing-script-googlefonts">tasting</span>
                <p class="jost-googlefonts">
                    Santorini is home to some truly unique wines, not only because of its volcanic soil and dry climate, but because the island's vineyards never suffered the phylloxera blight that transformed European wine making. The unique climate and volcanic terrain make them some of the most distinctive wines of Greece.
                </p>
            </div>
        </div>
    </section>

    <section class="experience_box experience_box3">
        <div class="wrapper_experience_content">
            <div class="wrapper_experience_content_text">
                <h2 class="lora-googlefonts">Enjoy a unique sailing</h2>
                <span class="dancing-script-googlefonts">experience</span>
                <p class="jost-googlefonts">
                    Do not leave Santorini unless you have experienced a boat tour! Its greatest asset is that you can face the impressive caldera and its picturesque villages from the sea. In addition, you will swim in the crystal-clear waters of the most popular beaches of the island, like the Red Beach and the White Beach, as well as in the therapeutic waters of the volcano's hot springs. Whichever boat tour you choose, you will see the volcano up close and walk on it! What is more, some boat tours provide barbeque meals on board and unlimited local wine and beers, or even special cocktails! There are sunset options too, for those who want to admire the sunset of Santorini on board! Whether you are on a honeymoon with your other half or a large group of friends looking for a unique party onboard or a family, then a private boat tour is the perfect choice for your special occasion!
                </p>
            </div>
            <div class="wrapper_experience_content_img experience_img_end">
                <img src="../assets/gallery/experience/experience_5.jpg" alt="">
                <img src="../assets/gallery/experience/experience_4.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="experience_box experience_box4">
        <div class="wrapper_experience_content">
            <div class="wrapper_experience_content_img experience_img_start">
                <img src="../assets/gallery/experience/experience_10.jpg" alt="">
                <img src="../assets/gallery/experience/experience_9.jpg" alt="">
            </div>
            <div class="wrapper_experience_content_text">
                <h2 class="lora-googlefonts">Have breakfast on the edge</h2>
                <p class="jost-googlefonts">
                    This is the place where every morning begins with a sumptuous spread of freshly baked pastries, made-to-order omelettes, and an array of tasty delights. Whether you choose to savor your meal in the comfort of your suite or on the balcony overlooking the breathtaking Caldera, each bite is a celebration of Santorini's flavors and stunning vistas. Start your day right with a feast for the senses, as you awaken to the gentle breeze and the mesmerizing beauty of the Aegean Sea. At Heavens Edge, breakfast isn't just a meal - it's a moment of pure bliss, designed to elevate your stay and create unforgettable memories.
                </p>
            </div>
        </div>
    </section>

    <section class="experience_box experience_box5">
        <div class="wrapper_experience_content">
            <div class="wrapper_experience_content_text">
                <h2 class="lora-googlefonts">Room Service at its finest</h2>
                <p class="jost-googlefonts">
                    Feel free to take full advantage of the convenience of our room service, enabling you to order a selection of delicate meals to be served directly to your suite or villa. Whether you're craving a light snack or a proper meal, our menu offers a variety of options to suit every palate. Simply relax and enjoy the island's peace while our attentive staff takes care of your dining needs. With room service just a phone call away, you are finally allowed to savor delicious cuisine without ever leaving the comfort of your room. Oh, and please don't forget to grab a local wine from your in-room wine cooler cabinet once in a while!
                </p>
            </div>
            <div class="wrapper_experience_content_img experience_img_end">
                <img src="../assets/gallery/experience/experience_6.jpg" alt="">
                <img src="../assets/gallery/experience/experience_11.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="experience_box experience_box6">
        <div class="wrapper_experience_content">
            <div class="wrapper_experience_content_img experience_img_start">
                <img src="../assets/gallery/experience/experience_7.jpg" alt="">
                <img src="../assets/gallery/experience/experience_8.jpg" alt="">
            </div>
            <div class="wrapper_experience_content_text">
                <h2 class="lora-googlefonts">Your personal Concierge</h2>
                <p class="jost-googlefonts">
                    Seamless luxury couldn't be without our dedicated concierge service, ready to cater to your every need throughout your stay. Arrive in style with our private transfer service, whisking you from the airport or port directly to our doorstep. Need to surprise a loved one? Our concierge will be glad to arrange for flowers and cakes to be delivered straight to your suite, ensuring a memorable celebration. From restaurant reservations to excursion bookings, our knowledgeable team is here to handle all the details, leaving you free to relax and enjoy your Santorini getaway. Trust us to make your stay truly unforgettable!
                </p>
            </div>
        </div>
    </section>

    <footer id="footer_target">
        <!-- loaded dynamically loadFooter() -->
    </footer>

    <script src="../main.js"></script>
</body>
</html>