<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
    <title>Travel Guide</title>
</head>
<body>
    <nav class="nav_bar" id="nav_bar_target">
        <!-- loaded dynamically loadNavBar() -->
    </nav>
    
    <code class="about">
        <section class="container about_box1"></section>
        
        <section class="container about_box2">
            <div class="wrapper_about_box2_header">
                <h2 class="lora-googlefonts">The essence of Heavens Edge</h2>
                <p class="jost-googlefonts">
                    Welcome to Heavens Edge, an exquisite retreat nestled on the mesmerizing caldera cliffs of Imerovigli in Santorini.<br>Perched at the edge of the world-renowned volcanic crater, it offers a captivating blend of luxury, tranquility and breathtaking views of -some say- the most beautiful sunset in the world.
                </p>
            </div>
            <div class="wrapper_about_box2_img" id="about_box2_window">
                <img src="../assets/gallery/about/about_2.jpg" alt="">
            </div>
            <div class="wrapper_about_box2_content">
                <p class="jost-googlefonts">
                    Heavens Edge boasts a collection of thoughtfully designed suites and indulgent villas, each meticulously crafted to provide the ultimate Santorinian experience. From the moment you arrive, you'll be enveloped in an atmosphere of serenity and sophistication. As you unravel the essence of our boutique gem, our tailor-made services will create the perfect scenery for this trip of a lifetime.
                </p>
                <a class="jost-googlefonts details-btn" href="./nav_suites-and-villas.html">See All Suites & Villas</a>
            </div>
        </section>
    
        <section class="container about_box3" id="section_about_box3">
            <div class="wrapper_about_box3_content">
                <p class="jost-googlefonts">
                    The elegant Deluxe and Superior suites, as well as the Two-Bedroom villa, offer a sanctuary of peace and style. Experience the convenience of the fine-quality mattresses, providing a restful night's sleep like no other, as well as having an equipped kitchenette at your disposal, allowing you to effortlessly prepare meals for you and your loved ones. Step outside onto your private terrace to discover the rejuvenating outdoor hot tub, where you can unwind as you soak in the panoramic vistas of the caldera and the azure Aegean Sea.<br>But perhaps it is the signature villa that truly sets Heaven's Edge apart, a harmonious blend of indoor and outdoor living. Gaze upon the magnificent caldera views from its private terrace, or step inside to discover the pièce de résistance: an inviting indoor plunge pool nestled within a cave, where you can unwind in style and rejuvenate in peace.
                </p>
                <a class="jost-googlefonts details-btn" href="./nav_suites-and-villas.html">See All Suites & Villas</a>
            </div>
        </section>
    
        <section class="container about_box4">
            <div class="wrapper_about_box4_img" id="about_box4_window">
            </div>
            <div class="about_box4_carousel_dots" id="about_box4_dot_parent">
                <span class="dot" onclick="setBox4Img(0)"></span> 
                <span class="dot" onclick="setBox4Img(1)"></span> 
                <span class="dot" onclick="setBox4Img(2)"></span> 
            </div>
            <div class="wrapper_about_box4_content">
                <p class="jost-googlefonts">
                    All suites and villas at Heaven's Edge are equipped with every modern convenience, including mini kitchenettes, spacious bathrooms with walk-in showers, plush bathrobes & slippers, along with smart TVs with streaming services. Their hidden gems are their wine cooler cabinets containing an unparalleled selection of wines, ensuring a seamless and comfortable stay.
                </p>
                <a class="jost-googlefonts details-btn" href="./nav_suites-and-villas.html">See All Suites & Villas</a>
            </div>
        </section>
    </code>

    <footer id="footer_target">
        <!-- loaded dynamically loadFooter() -->
    </footer>

    <script async defer src="../js/about_helper.js"></script>
    <script async defer src="../main.js"></script>
</body>
</html>