<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
    <title>Suites & Villas</title>
</head>
<body>
    <nav class="nav_bar" id="nav_bar_target">
        <!-- loaded dynamically loadNavBar() -->
    </nav>

    <section class="container rooms_overview_box1"></section>
    <section class="container rooms_overview_box2">
        <div class="wrapper_header">
            <h2 class="section-header">Suites & Villas</h2>
        </div>
        <div class="wrapper_room">
            <div class="room_16to9_ratio_wrapper">
                <div class="room_img" id="room1_overview_img"></div>
            </div>
            <div class="wrapper_description">
                <h2 class="lora-googlefonts">Deluxe Suite with outdoor hot tub</h2>
                <p class="jost-googlefonts">Indulge in unparalleled luxury and breathtaking vistas by choosing Heaven’s Edge’s Deluxe Suite with outdoor hot tub. Set against the iconic backdrop of Santorini’s caldera cliffs, this exquisite accommodation of approx. 45m² offers a sanctuary of comfort and elegance.</p>
                <a class="jost-googlefonts details-btn" href="./rooms_deluxe-suite.html">Explore</a>
            </div>
        </div>
        <div class="wrapper_room">
            <div class="room_16to9_ratio_wrapper">
                <div class="room_img" id="room2_overview_img"></div>
            </div>
            <div class="wrapper_description">
                <h2 class="lora-googlefonts">Superior Suite with outdoor hot tub</h2>
                <p class="jost-googlefonts">Elevate your Santorinian experience with one of Heavens Edge’s Superior Suites with outdoor hot tub, boasting an expansive approx. 65m² space designed for luxury and comfort.</p>
                <a class="jost-googlefonts details-btn" href="./rooms_superior-suite.html">Explore</a>
            </div>
        </div>
        <div class="wrapper_room">
            <div class="room_16to9_ratio_wrapper">
                <div class="room_img" id="room3_overview_img"></div>
            </div>
            <div class="wrapper_description">
                <h2 class="lora-googlefonts">Two-Bedroom Villa with plunge pool</h2>
                <p class="jost-googlefonts">Step into the lap of luxury at Heaven’s Edge and discover our exquisite Two-Bedroom Villa with outdoor hot tub covering a 75m² area, where every detail is crafted to perfection.</p>
                <a class="jost-googlefonts details-btn" href="./rooms_2bedroom-villa.html">Explore</a>
            </div>
        </div>
        <div class="wrapper_room">
            <div class="room_16to9_ratio_wrapper">
                <div class="room_img" id="room4_overview_img"></div>
            </div>
            <div class="wrapper_description">
                <h2 class="lora-googlefonts">Heavens Edge Villa with indoor pool</h2>
                <p class="jost-googlefonts">Enter a realm of luxury and serenity at the unique Heaven’s Edge Villa with an indoor pool, boasting a generous 100m² space designed for indulgence and relaxation.</p>
                <a class="jost-googlefonts details-btn" href="./rooms_heavensedge-villa.html">Explore</a>
            </div>
        </div>        
    </section>

    <footer id="footer_target">
        <!-- loaded dynamically loadFooter() -->
    </footer>

    <script src="../js/rooms_helper.js"></script>
    <script src="../main.js"></script>
</body>
</html>