<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
    <title>Superior Suite</title>
</head>
<body>
    <nav class="nav_bar" id="nav_bar_target">
        <!-- loaded dynamically loadNavBar() -->
    </nav>

    <section class="room_detail_box1" id="room2_box1"></section>

    <section class="room_detail_box2">
        <div class="wrapper_header">
            <h3 class="jost-googlefonts">Interior: 65m² / 699ft² | Rain-fall Shower | Outdoor Jacuzzi | Max occupancy: 2 adults</h3>
            <h2 class="lora-googlefonts">Superior Suite with outdoor hot tub</h2>
        </div>
        <div class="wrapper_room">
            <div class="room_16to9_ratio_wrapper">
                <div class="room_img" id="room2_img_left"></div>
            </div>
            <div class="wrapper_description">
                <p class="jost-googlefonts">
                    Elevate your Santorinian experience with one of Heavens Edge's Superior Suites with outdoor hot tub, boasting an expansive approx. 65m² space designed for luxury and comfort.<br>This type of suite features a spacious bedroom with a comfortable king-size bed and soundproof walls that promise a rejuvenating night's sleep, as well as a comfy living room for unwinding and relaxation in between walks and excursions. Its private bathroom boasts a walk-in shower, alongside fine-quality bathrobes and slippers, adding a touch of opulence to your stay.
                </p>
                <a class="jost-googlefonts details-btn" href="">Check Rates</a>
            </div>
        </div>
        <div class="wrapper_room">
            <div class="wrapper_description">
                <p class="jost-googlefonts">
                    Enjoy the convenience of a fully equipped kitchenette, complete with a refrigerator, tea and Nespresso coffee maker, toaster and kitchenware, allowing for the preparation of light meals for your in-house moments, or use our premium room service to indulge in exquisite culinary options, available throughout the day. Private A/C, fast Wi-Fi and your personal safe box will simply ensure a seamless and easy stay.<br>Sitting and lounging chairs on the balcony provide the perfect spot to soak in the breathtaking views - or is it the inside of your private outdoor hot tub? We leave it up to you to decide!<br>At Heaven's Edge, our personalized hospitality ensures that every detail of your stay is tailored to perfection, from the curated selection of wines in the wine cooler cabinet to the thoughtful amenities provided. Time always slips through our hands so seize the moment, secure your reservation now and embark on a truly unforgettable experience!
                </p>
                <a class="jost-googlefonts details-btn" href="">Check Rates</a>
            </div>
            <div class="room_16to9_ratio_wrapper">
                <div class="room_img" id="room2_img_right"></div>
            </div>
        </div>
    </section>

    <section class="room_detail_box3" id="room2_box3"></section>

    <section class="room_detail_box4">
        <div class="wrapper_facilities">
            <h2 class="lora-googlefonts">Comforts & Amenities</h2>
            <p class="jost-googlefonts">
                Outdoor hot tub | Wi-Fi Internet Access (free of charge) | Individually Controlled Air Condition | Safe Deposit Box | Telephone | Flat Screen TV with streaming service | Closet | Bedroom with King-Size Bed | Living Room | Sofa | Equipped Kitchen | Nespresso Machine | Microwave | Wine Cooler Cabinet | Mini-Bar | Toiletries & Bath Amenities | Bathrobes & Slippers | En-suite bathroom with rain-fall shower | Hairdryer | Pool Towels | Daily Maid Service | Iron & Ironing Board (on request) | Non-smoking room | Soundproof walls | Terrace with outdoor furniture & sunbeds | Caldera view
            </p>
        </div>
        <div class="wrapper_gallery_header">
            <h3 class="jost-googlefonts">Gallery</h3>
        </div>
        <div id="wrapper_gallery_img">
            <!-- dynamically loaded from rooms_helper.js -->
        </div>
        <div class="wrapper_room_navigation">
            <div class="room_previous_btn">
                <h3 class="jost-googlefonts">Previous Room</h3>
                <a href="./rooms_deluxe-suite.html">Deluxe Suite with outdoor hot tub</a>
            </div>
            <div class="room_next_btn">
                <h3 class="jost-googlefonts">Next Room</h3>
                <a href="./rooms_2bedroom-villa.html">Two-Bedroom Villa with plunge pool</a>
            </div>
        </div>
    </section>

    <footer id="footer_target">
        <!-- loaded dynamically loadFooter() -->
    </footer>

    <script src="../js/rooms_helper.js"></script>
    <script src="../main.js"></script>
</body>
</html>