<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Heavens Edge Villa</title>
</head>
<body>
    <nav class="nav_bar" id="nav_bar_target">
        <!-- loaded dynamically loadNavBar() -->
    </nav>

    <section>
        <p>welcome to rooms, heavens edge villa</p>
    </section>

    <section class="rooms_gallery">
        <a href="./rooms_2bedroom-villa.html">previous room (two bedroom villa)</a>
    </section>

    <footer id="footer_target">
        <!-- loaded dynamically loadFooter() -->
    </footer>

    <script src="../main.js"></script>
</body>
</html>