<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
    <title>Deluxe Suite</title>
</head>
<body>
    <nav class="nav_bar" id="nav_bar_target">
        <!-- loaded dynamically loadNavBar() -->
    </nav>

    <section class="room_detail_box1" id="room1_box1"></section>

    <section class="room_detail_box2">
        <div class="wrapper_header">
            <h3 class="jost-googlefonts">Interior: 45m² / 484ft² | Rain-fall Shower | Outdoor Jacuzzi | Max occupancy: 2 adults</h3>
            <h2 class="lora-googlefonts">Deluxe Suite with outdoor hot tub</h2>
        </div>
        <div class="wrapper_room">
            <div class="room_16to9_ratio_wrapper">
                <div class="room_img" id="room1_img_left"></div>
            </div>
            <div class="wrapper_description">
                <p class="jost-googlefonts">
                    Indulge in unparalleled luxury and breathtaking vistas by choosing Heaven's Edge's Deluxe Suite with outdoor hot tub. Set against the iconic backdrop of Santorini's caldera cliffs, this exquisite accommodation of approx. 45m² offers a sanctuary of comfort and elegance.<br>Step onto your private terrace and immerse yourself in the soothing waters of the outdoor hot tub, where you'll be greeted by sweeping views of the majestic caldera. Inside, the spacious bedroom beckons with a king-size bed, ensuring a restful night's sleep amid plush linens. Pamper yourself with fine-quality complimentary toiletries and relax under the rainfall shower, enhancing your stay with a touch of indulgence.
                </p>
                <a class="jost-googlefonts details-btn" href="">Check Rates</a>
            </div>
        </div>
        <div class="wrapper_room">
            <div class="wrapper_description">
                <p class="jost-googlefonts">
                    Indulge in unparalleled luxury and breathtaking vistas by choosing Heaven's Edge's Deluxe Suite with outdoor hot tub. Set against the iconic backdrop of Santorini's caldera cliffs, this exquisite accommodation of approx. 45m² offers a sanctuary of comfort and elegance.<br>Step onto your private terrace and immerse yourself in the soothing waters of the outdoor hot tub, where you'll be greeted by sweeping views of the majestic caldera. Inside, the spacious bedroom beckons with a king-size bed, ensuring a restful night's sleep amid plush linens. Pamper yourself with fine-quality complimentary toiletries and relax under the rainfall shower, enhancing your stay with a touch of indulgence.
                </p>
                <a class="jost-googlefonts details-btn" href="">Check Rates</a>
            </div>
            <div class="room_16to9_ratio_wrapper">
                <div class="room_img" id="room1_img_right"></div>
            </div>
        </div>
    </section>

    <section class="room_detail_box3" id="room1_box3"></section>

    <section class="room_detail_box4">
        <div class="wrapper_facilities">
            <h2 class="lora-googlefonts">Comforts & Amenities</h2>
            <p class="jost-googlefonts">
                Outdoor hot tub | Wi-Fi Internet Access (free of charge) | Individually Controlled Air Condition | Safe Deposit Box | Telephone | Flat Screen TV with streaming service | Closet | Bedroom with King-Size Bed | Living Room | Sofa | Equipped Kitchen | Nespresso Machine | Microwave | Wine Cooler Cabinet | Mini-Bar | Toiletries & Bath Amenities | Bathrobes & Slippers | En-suite bathroom with rain-fall shower | Hairdryer | Pool Towels | Daily Maid Service | Iron & Ironing Board (on request) | Non-smoking room | Soundproof walls | Terrace with outdoor furniture & sunbeds | Caldera view
            </p>
        </div>
        <div class="wrapper_gallery_header">
            <h3 class="jost-googlefonts">Gallery</h3>
        </div>
        <div id="wrapper_gallery_img">
            <!-- dynamically loaded from rooms_helper.js -->
        </div>
        <div class="wrapper_room_navigation right_navigation">
            <div class="room_previous_btn"></div>
            <div class="room_next_btn">
                <h3 class="jost-googlefonts">Next Room</h3>
                <a href="./rooms_superior-suite.html">Superior Suite with outdoor hot tub</a>
            </div>
        </div>
    </section>

    <footer id="footer_target">
        <!-- loaded dynamically loadFooter() -->
    </footer>

    <script async defer src="../js/rooms_helper.js"></script>
    <script async defer src="../main.js"></script>
</body>
</html>