<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Deluxe Suite</title>
</head>
<body>
    <nav class="nav_bar" id="nav_bar_target">
        <!-- loaded dynamically loadNavBar() -->
    </nav>

    <section>
        <p>welcome to rooms, deluxe suite</p>
    </section>

    <section class="rooms_gallery">
        <!-- placeholder, whole div gets onclick -->
        <a href="./rooms_superior-suite.html">next room (superior suite)</a>
    </section>

    <footer id="footer_target">
        <!-- loaded dynamically loadFooter() -->
    </footer>

    <script src="../main.js"></script>
</body>
</html>