<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Suites & Villas</title>
</head>
<body>
    <nav class="nav_bar" id="nav_bar_target">
        <!-- loaded dynamically loadNavBar() -->
    </nav>


    <section>
        <h2 class="section-header">Suites & Villas</h2>
        <div>picture</div>
        <div>
            <h3>Deluxe Suite with outdoor hot tub</h3>
            <p>Indulge in unparalleled luxury and breathtaking vistas by choosing Heaven’s Edge’s Deluxe Suite with outdoor hot tub. Set against the iconic backdrop of Santorini’s caldera cliffs, this exquisite accommodation of approx. 45 m2 offers a sanctuary of comfort and elegance.</p>
            <button href="./deluxe_suite.html">Explore</button>
        </div>
        <div>
            <h3>Superior Suite with outdoor hot tub</h3>
            <p>Elevate your Santorinian experience with one of Heavens Edge’s Superior Suites with outdoor hot tub, boasting an expansive approx. 65m2 space designed for luxury and comfort.</p>
            <button href="./superior_suite.html">Explore</button>
        </div>
        <div>
            <h3>Two-Bedroom Villa with plunge pool</h3>
            <p>Step into the lap of luxury at Heaven’s Edge and discover our exquisite Two-Bedroom Villa with outdoor hot tub covering a 75 m2 area, where every detail is crafted to perfection.</p>
            <button href="./two_bedroom.html">Explore</button>
        </div>
        <div>
            <h3>Heavens Edge Villa with indoor pool</h3>
            <p>Enter a realm of luxury and serenity at the unique Heaven’s Edge Villa with an indoor pool, boasting a generous 100m2 space designed for indulgence and relaxation.</p>
            <button href="./heavensedge_villa.html">Explore</button>
        </div>
    </section>

    


    <footer id="footer_target">
        <!-- loaded dynamically loadFooter() -->
    </footer>

    <script src="../main.js"></script>
</body>
</html>