:root {

    /* yqni13 colors */
    --yqni13-purple: #650D88;
    --yqni13-pink: #BC0C79;

    /* white type colors */
    --snow-white: #FFFAFA;
    --ghost-white: #F8F8FF;
    --alice-blue: #F0F8FF;
    --antiflesh-white: #FAFAFA;
    --gainsboro-white: #F1EFF2;
    --off-white: #FBFBFB;
    --ivory-white: #FFFFF0;

    /* black type colors */
    --obsidian-black: #0B1215;
    --charcoal-grey: #171717;
    --oil-black: #0C0C0C;
    --darkslate-grey: #0D1717;    
    
    /* dark blue type colors */
    --midnight-blue: #101720;
    --deepnavy-blue: #011222;
    --rich-black: #020D19;

    /* dark mode theme#1 dark-red */
    --darkmode1-black1: #000000;
    --darkmode1-red1: #3D0000;
    --darkmode1-red2: #950101;
    --darkmode1-red3: #FF0000;

    /* dark mode theme#2 dark-orange */
    --darkmode2-black1: #222831;
    --darkmode2-grey1: #393E46;
    --darkmode2-orange1: #FD7014;
    --darkmode2-white1: #EEEEEE;

    /* dark mode theme#3 dark-pink */
    --darkmode3-black1: #000000;
    --darkmode3-pink1: #86003C;
    --darkmode3-pink2: #E41F7B;
    --darkmode3-pink3: #FF8BA0;

    /* dark mode theme#4 dark-turquoise */
    --darkmode4-black1: #222831;
    --darkmode4-grey1: #393E46;
    --darkmode4-torquoise1: #00ADB5;
    --darkmode4-torquoise2: #00FFF5;

    /* dark mode theme#5 dark-purple */
    --darkmode5-black1: #000000;
    --darkmode5-purple1: #3E065F;
    --darkmode5-purple2: #700B97;
    --darkmode5-purple3: #8E05C2;

    /* dark mode theme6 dark-grey */
    --darkmode6-black1: #2A2438;
    --darkmode6-grey1: #352F44;
    --darkmode6-grey2: #5C5470;
    --darkmode6-grey3: #DBD8E3;

    /* white mode theme1 grey/brown/beige */
    --whitemode1-champagne: #8fd0b8;
    --whitemode1-sand: #EECAAB;
    --whitemode1-grey: #E9E6DB;
    --whitemode1-cultured: #FBF7F4;
    --whitemode1-pink: #ca7394;

    /* theme colors */
    --theme-dark: #011222;
    --theme-grey: #393E46;
    --theme-blue: #0077B3;
    --theme-orange: #FF5533;

    /* other defined colors */
    --phtalo-green: #0D413A;
    --bordeau-red: #420116;
    --tangerine-yellow: #f3b20e;
    --acting-grey: #7e7e7e;
    --highlight-grey: rgba(128, 128, 128, 0.7);
    --tyrian-purple: #33002A;
    --logo-gold: #FBBB1E;
    --hotel-footer: #0C2645;
    --hotel-text: #4D7BA9;
    --header-grey: #737475;

    /* BACKGROUND-IMAGE LINEAR-GRADIENT */
    --yqni13-gradient: linear-gradient(167deg, #650D88 42%, #BC0C79 90%);
    --gradient-torquoisewhite: linear-gradient(54deg, #f0f8ff 0%, 62%, #00adb5 100%);
    --gradient-grey: conic-gradient(from 0deg at 0% 0%,#f0f8ff 0%, 25%, #7E7E7E 47% 0%);
    --gradient-footer: linear-gradient(to top right, #f0f8ff 0%, 71%, #4d7ba9 100%);
    --gradient-bluewhite: linear-gradient(to bottom, #3b788e 0%, 47%, #f0f8ff 100%);

    /* filter to change color of png */
    /* white --alice-blue */
    --signature-aliceblue: invert(100%) sepia(59%) saturate(5190%) hue-rotate(179deg) brightness(107%) contrast(107%);
    /* grey --highlight-grey */
    --signature-grey: invert(33%) sepia(9%) saturate(1336%) hue-rotate(216deg) brightness(94%) contrast(85%);

}