/* google fonts imports */
.dancing-script-googlefonts {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.jost-googlefonts {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lora-googlefonts {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@keyframes darken-gallery {
    from {filter: brightness(1)}
    to {filter: brightness(0.6)}
}

[data-nav="navMobileExtended"] {
    --nav-logo: block;
    --logo-filter: var(--signature-aliceblue);
    --logo-size: 20rem;
    --logo-order: 2;
    --logo-padding: 25px 0;
    --burger-order: 1;
    --nav-burgermenu: flex;
    --padding-burgermenu: 25px; 
    --nav-ul: inline-block;
    --ul-text: var(--alice-blue);
    --nav-size: 100%;
    --nav-bg: var(--hotel-footer);
    --nav-width: 100%;

    --margin-comptext: 0 50px;
    --box-padding: 25px 0;
    
}

/* window.screen.width <= 768px */
[data-nav="navMobileCollapsed"] {
    --nav-logo: flex;
    --logo-filter: none;
    --logo-size: 20vw;
    --logo-order: 1;
    --logo-padding: 5px 0 5px 20px;
    --burger-order: 2;
    --nav-burgermenu: flex;
    --padding-burgermenu: 5px 20px 5px 0;
    --nav-ul: none;
    --ul-text: var(--rich-black);
    --nav-size: auto;
    --nav-bg: var(--navbg-transparent);
    --nav-width: auto;
    
    --margin-comptext: 0 50px;
    --box-padding: 25px 0;

    --content-width: 100%;
}

[data-nav="navDesktop"] {
    --nav-logo: flex;
    --logo-filter: none;
    --nav-burgermenu: none;
    --padding-burgermenu: 0;
    --nav-ul: flex;
    --ul-text: var(--rich-black);
    --nav-size: auto;
    --nav-bg: var(--navbg-transparent);
    --nav-width: auto;
    
    --margin-comptext: 0 100px;
    --box-padding: 50px 0;
}