/* google fonts imports */
.dancing-script-googlefonts {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.jost-googlefonts {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lora-googlefonts {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@keyframes darken-gallery {
    from {filter: brightness(1)}
    to {filter: brightness(0.6)}
}

[data-nav="navMobileExtended"] {
    --nav-logo: flex;
    --logo-filter: var(--signature-aliceblue);
    --nav-burgermenu: flex;
    --nav-ul: inline-block;
    --ul-text: var(--alice-blue);
    --nav-size: 100%;
    --nav-bg: var(--hotel-footer);
    --nav-width: 100%;
    
}

/* window.screen.width <= 768px */
[data-nav="navMobileCollapsed"] {
    --nav-logo: none;
    --logo-filter: none;
    --nav-burgermenu: flex;
    --nav-ul: none;
    --ul-text: var(--rich-black);
    --nav-size: auto;
    --nav-bg: var(--navbg-transparent);
    --nav-width: auto;
    
}

[data-nav="navDesktop"] {
    --nav-logo: flex;
    --logo-filter: none;
    --nav-burgermenu: none;
    --nav-ul: flex;
    --ul-text: var(--rich-black);
    --nav-size: auto;
    --nav-bg: var(--navbg-transparent);
    --nav-width: auto;

}