@media screen and (min-width: 1439px) {
    .nav_bar {
        height: var(--nav-size);
        background-color: var(--nav-bg);
        ul {
            width: var(--nav-width);
            display: var(--nav-ul);
            a {
                color: var(--ul-text);
            }
        }
        .logo {
            width: var(--nav-width);
            display: var(--nav-logo)!important;
            filter: var(--logo-filter);
        }
        .burger-menu {
            width: var(--nav-width);
            display: var(--nav-burgermenu);
        }
    }

    .component_home {
        .wrapper_box2 {
            width: 40%!important;
        }
    }
} 

@media screen and (max-width: 1439px) {
    .nav_bar {
        height: var(--nav-size);
        background-color: var(--nav-bg);
        ul {
            width: var(--nav-width);
            display: var(--nav-ul);
            a {
                color: var(--ul-text);
            }
        }
        .logo {
            width: var(--nav-width);
            display: var(--nav-logo)!important;
            filter: var(--logo-filter);
        }
        .burger-menu {
            width: var(--nav-width);
            display: var(--nav-burgermenu);
        }
    }

    .component_home {
        .wrapper_box2 {
            width: 30%!important;
            margin: 0;
        }
    }

    #footer_target {
        .wrapper_links {
            width: 50%!important;
        }
        .contact {
            width: 50%!important;
        }
    }
}

@media screen and (max-width: 1024px) {
    .nav_bar {
        height: var(--nav-size);
        background-color: var(--nav-bg);
        overflow: auto;
        text-align: center!important;
        ul {
            width: var(--nav-width);
            display: var(--nav-ul);
            margin: 0 0 10vh 0!important;
            order: 3!important;
            li {
                padding: 15px 0!important;
            }
            a {
                color: var(--ul-text);
                font-size: 2.5vw!important;
            }
        }
        .logo {
            width: var(--nav-width);
            display: var(--nav-logo)!important;
            filter: var(--logo-filter);
            order: 2!important;
            img {
                margin-left: 0!important;
                width: 30vw!important;
            }
        }
        .burger-menu {
            padding: var(--padding-burgermenu)!important;
            width: var(--nav-width);
            display: var(--nav-burgermenu);
            margin-right: 0!important;
            justify-content: center!important;
            order: 1!important;
            i {
                width: 5vw!important;
                height: 5vh!important;
            }
        }
    }

    .component_home {
        .wrapper_box2 {
            width: auto!important;
            margin: var(--margin-comptext);
        }
    }

    .gallery_box {
        padding: 50px 0!important;
    }
    
    
    #footer_target {
        .wrapper_links {
            width: 50%!important;
        }
        .contact {
            width: 50%!important;
            .contact_data {
                width: 45%!important;
            }
            .contact_msg {
                width: 55%!important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .nav_bar {
        height: var(--nav-size);
        background-color: var(--nav-bg);
        overflow: auto;
        text-align: center!important;
        ul {
            width: var(--nav-width);
            display: var(--nav-ul);
            margin: 0 0 25vh 0!important;
            order: 3!important;
            li {
                padding: 15px 0!important;
            }
            a {
                color: var(--ul-text);
            }
        }
        .logo {
            width: var(--nav-width);
            display: var(--nav-logo)!important;
            filter: var(--logo-filter);
            order: 2!important;
            img {
                margin-left: 0!important;
            }
        }
        .burger-menu {
            padding: var(--padding-burgermenu)!important;
            width: var(--nav-width);
            display: var(--nav-burgermenu);
            margin-right: 0!important;
            justify-content: center!important;
            order: 1!important;
            i {
                width: 6vw!important;
                height: 6vh!important;
            }
        }
    }

    .component_home {
        .wrapper_box2 {
            width: auto!important;
            margin: var(--margin-comptext);
        }
    }
    
    .gallery_box {
        padding: 50px 0!important;
    }

    #footer_target {
        .wrapper_footer {
            padding: 50px 25px!important;
        }
        .wrapper_links {
            order: 2!important;
            flex-basis: fit-content;
            flex-grow: 1;
            padding-top: 50px;
        }
        .contact {
            order: 1!important;
            flex-basis: fit-content;
            flex-grow: 1;
            .contact_data {
                margin: 0!important;
                width: 45%!important;
            }
            .contact_msg {
                width: 55%!important;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .nav_bar {
        height: var(--nav-size);
        background-color: var(--nav-bg);
        overflow: auto;
        text-align: center!important;
        ul {
            width: var(--nav-width);
            display: var(--nav-ul);
            margin: 0 0 15vh 0!important;
            order: 3!important;
            li {
                padding: 15px 0!important;
            }
            a {
                color: var(--ul-text);
                font-size: 7.5vw!important;
            }
        }
        .logo {
            width: var(--nav-width);
            display: var(--nav-logo)!important;
            filter: var(--logo-filter);
            order: 2!important;
            img {
                margin-left: 0!important;
                width: 75vw!important;
            }
        }
        .burger-menu {
            padding: var(--padding-burgermenu)!important;
            width: var(--nav-width);
            display: var(--nav-burgermenu);
            margin-right: 0!important;
            justify-content: center!important;
            order: 1!important;
            i {
                width: 8vw!important;
                height: 8vhimportant;
            }
        }
    }

    .component_home {
        .box1 {
            &:before {
                background-position-y: 0!important;
            }
        }
        .wrapper_box2 {
            width: auto!important;
            margin: var(--margin-comptext);
        }
        .box3 {
            display: inline-block!important;
            .wrapper_box3_img {
                width: 100%!important;
                margin: 0!important;
                aspect-ratio: 900 / 600;
            }
            .wrapper_box3_text {
                width: auto;
                margin: 50px!important;
            }
        }
        .box4 {
            height: auto!important;
            aspect-ratio: 900 / 600;
        }
        .box5_part {
            display:inline-block;

            .wrapper_box5_part2_text {
                padding-bottom: 50px!important;
            }

            .box5_part2_text { width: 100%; }
            .box5_part2_img { width: 100%; }
            .box5_part3_img { width: 100%; }
            .box5_part3_text { width: 100%; }
        }
        .box6 {
            .wrapper_box6_gallery {
                display: inline-block!important;
                .wrapper_box6_img {
                    width: calc(100% - 4px)!important;
                }
            }
        }
    }

    .gallery_box {
        padding: 50px 0!important;
    }

    #footer_target {
        .wrapper_footer {
            padding: 50px 25px!important;
        }
        .wrapper_links {
            order: 2!important;
            flex-basis: fit-content;
            flex-grow: 1;
            padding-top: 50px;
        }
        .contact {
            order: 1!important;
            flex-basis: fit-content;
            flex-grow: 1;
            .contact_data {
                margin: 0!important;
                width: 45%!important;
            }
            .contact_msg {
                width: 55%!important;
            }
        }
    }
}